<div style="background-color: white" class="fixed-top shadowxd hide-header">
  <div class="row justify-content-between align-items-center">
    <div class="col-auto">
      <img
        src="../../../../assets/images/bunuelin-removebg.png"
        style="width: 8rem; margin: 1rem"
      />
    </div>
    <div class="col-md-auto mr-1">
      <ul class="nav justify-content-end align-items-center">
        <li class="nav-item">
          <a class="nav-link-cutom " routerLink=""
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link-cutom active" [routerLink]="'/main/productos'"
            ><b>Productos</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link-cutom" [routerLink]="'/main/registro-usuarios'"
            >Registrarse</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" [routerLink]="'/main/login'"
            >Iniciar sesión</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- For mobile -->
<div style="background-color: white" class="fixed-top shadowxd show-mobile">
    <div class="row justify-content-center align-items-center m-2">
      <div class="col-auto">
        <ul class="nav justify-content-end align-items-center">
          <li class="nav-item">
            <a class="nav-link-cutom " routerLink=""
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link-cutom active-primary" [routerLink]="'/main/productos'"
              ><b>Productos</b></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link-cutom" [routerLink]="'/main/registro-usuarios'"
              >Registrarse</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" [routerLink]="'/main/login'"
              >Iniciar sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
