<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">
        <!-- Invoice List Header -->
        <div class="row">
          <div class="col-md-6 col-12">
            <h1 class="text-primary mt-1 ml-1">Cotizaciones</h1>
            <div class="d-flex justify-content-between align-items-center m-1">
              <div class="d-flex align-items-center">
                <label class="d-flex align-items-center"
                  >Show
                  <!-- ? Selector de filas -->
                  <select
                    class="form-control mx-25"
                    [(ngModel)]="selectedOption"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div
              class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0"
            >
              <!-- ?Buscador -->
              <label class="d-flex align-items-center"
                ><input
                  type="search"
                  placeholder="Buscar"
                  class="form-control ml-25"
                  (keyup)="filterUpdate($event)"
              /></label>
            </div>
          </div>
        </div>

        <!--? Aquí empieza la tabla -->
        <ngx-datatable
          [rows]="_filterRows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <!-- Column -->
          <ngx-datatable-column name="#" prop="id_pedido" [width]="20">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">#{{ id }}</p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column
            name="cedula"
            prop="id_cliente_documento"
            [width]="20"
          >
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">{{ id }}</p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column
            name="usuario"
            prop="Nombre_usuario"
            [width]="20"
          >
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">{{ id }}</p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column
            name="Precio total"
            prop="precio_total"
            [width]="20"
          >
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">{{ id }}</p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column
            name="Fecha de entrega"
            prop="fecha_entrega"
            [width]="20"
          >
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">{{ id | date }}</p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column name="estado" prop="estado" [width]="15">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">
                {{ id == 1 ? "Activo" : "Cancelada" }}
              </p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column name="Acciones" [width]="20">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex justify-content-start">
                <button
                  class="btn btn-icon btn-sm"
                  (click)="
                    modalOpen(infoModal); getCotizacionesById(row.id_pedido)
                  "
                >
                  <i class="feather icon-eye text-primary"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
  </div>
</div>

<!-- *************************************************** MODALES *************************************************** -->



<!-- ! Modal de info -->
<div>
  <ng-template #infoModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title text-primary">Detalles de la cotizacion</h5>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- ?Body de la modal -->

    <div *ngIf="detallesData.length > 0">
      <div *ngIf="cotizacionInfoUsuario">
        <div class="row m-1">
          <span class="text-primary"><b>Nombre:&nbsp;</b></span>
          {{ cotizacionInfoUsuario.Nombre_usuario }}
        </div>
        <div class="row m-1">
          <span class="text-primary"><b>Documento:&nbsp;</b></span>
          {{ cotizacionInfoUsuario.id_cliente_documento }}
        </div>
        <div class="row m-1">
          <span class="text-primary"><b>Fecha de registro:&nbsp;</b></span>
          {{ cotizacionInfoUsuario.fecha_registro | date }}
        </div>
        <div class="row m-1">
          <span class="text-primary"><b>Fecha de entrega:&nbsp;</b></span>
          {{ cotizacionInfoUsuario.fecha_entrega | date }}
        </div>  
      </div>
      <div class="divider divider-primary">
        <div class="divider-text">Productos</div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of detallesData">
            <td>{{ detalle.nombre }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.precio_unitario }}</td>
          </tr>
        </tbody>
      </table>

      <div class="row justify-content-end">
        <div class="col-auto m-1">
          <p>
            <span class="text-primary">Precio total: </span>
            {{ contPrecioTotal | currency: "USD":"symbol":"3.0" }}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="!detallesData.length > 0">
      <div class="row justify-content-center">
        <div class="col-auto">
          <p>No se han agregado productos</p>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Accept click')"
        rippleEffect
      >
        Ok
      </button>
    </div>
  </ng-template>
  <!-- / Modal -->
</div>
