<div class="row justify-content-center">
  <div class="col-auto">
    <div class="container">
      <div class="card-custom">
        <div class="imgBx">
          <img src="../../../../../../assets/images/landing/empanada-icon.png">
        </div>
        <div class="contentBx">
          <h2>Empanada</h2>
          <div class="size">
            <h3>ventas: 5050</h3>

          </div>
          <div class="color">
            <img src="../../../../../../assets/images/avatars/Plata.png" class="medal-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="container">
      <div class="card-custom">
        <div class="imgBx">
          <img src="../../../../../../assets/images/landing/bunuelo-icon.png">
        </div>
        <div class="contentBx">
          <h2>Buñuelo</h2>
          <div class="size">
            <h3>ventas: 5050</h3>

          </div>
          <div class="color">
            <img src="../../../../../../assets/images/avatars/Oro.png" class="medal-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="container">
      <div class="card-custom">
        <div class="imgBx">
          <img src="../../../../../../assets/images/landing/arepas-icon.png">
        </div>
        <div class="contentBx">
          <h2>Arepa de huevo</h2>
          <div class="size">
            <h3>ventas: 5050</h3>

          </div>
          <div class="color">
            <img src="../../../../../../assets/images/avatars/Bronce.png" class="medal-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>