<div class="row justify-content-center">
  <div class="col-auto">
    <h2>Seleccione periodo para top 3:</h2>
  </div>
  <div class="col-auto">
    <select class="custom-select" (change)="getMonth($event)" [(ngModel)]="mes">
      <option value="1">enero</option>
      <option value="2">febrero</option>
      <option value="3">marzo</option>
      <option value="4">abril</option>
      <option value="5">mayo</option>
      <option value="6">junio</option>
      <option value="7">julio</option>
      <option value="8">agosto</option>
      <option value="9">septiembre</option>
      <option value="10">octubre</option>
      <option value="11">noviembre</option>
      <option value="12">diciembre</option>
    </select>
  </div>
  <div class="col-auto">
    <select class="custom-select" (change)="getYear($event)" [(ngModel)]="anio">
      <option value="2022">2022</option>
      <option value="2023">2023</option>
      <option value="2024">2024</option>
    </select>
  </div>
  <div class="col-auto" *ngIf="top3[0]">
    <button *ngIf="isDashboard" class="btn btn-primary" (click)="exportExcel()">
      Descargar informe top3
    </button>
  </div>
</div>

<div class="col-auto">
  <div class="p-2">
    <form action=""></form>
  </div>
</div>
<div *ngIf="top3[0]">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="card card-mine justify-content-center text-center">
        <img src="{{ top3[0].img }}" class="img-mine" alt="..." />
        <div class="card-body">
          <h1>{{ top3[0].nombre | titlecase }}</h1>
          <div class="row">
            <div class="col-6">
              <p class="text-mine">Ventas: {{ top3[0].cantidad_venta }}</p>
            </div>
            <div class="col-6">
              <img
                src="../../../../../../assets/images/avatars/Oro.png"
                class="img-medal"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card card-mine justify-content-center text-center">
        <img src="{{ top3[1].img }}" class="img-mine" alt="..." />
        <div class="card-body">
          <h1>{{ top3[1].nombre | titlecase }}</h1>
          <div class="row">
            <div class="col-6">
              <p class="text-mine">Ventas: {{ top3[1].cantidad_venta }}</p>
            </div>
            <div class="col-6">
              <img
                src="../../../../../../assets/images/avatars/Plata.png"
                class="img-medal"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card card-mine justify-content-center text-center">
        <img src="{{ top3[2].img }}" class="img-mine" alt="..." />
        <div class="card-body">
          <h1>{{ top3[2].nombre | titlecase }}</h1>
          <div class="row">
            <div class="col-6">
              <p class="text-mine">Ventas: {{ top3[2].cantidad_venta }}</p>
            </div>
            <div class="col-6">
              <img
                src="../../../../../../assets/images/avatars/Bronce.png"
                class="img-medal"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
