@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

.container{
  position: relative;
}

.container .card-custom{
  position: relative;
  width: 270px;
  height: 400px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  
}

.container .card-custom:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1187ab;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card-custom:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card-custom:after{
  content: '1';
  position: absolute;
  top: 30%;
  left: 0%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(14, 14, 13, 0.171)
}

.container .card-custom .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  height: 220px;
  transition: 0.5s;
  
}

.container .card-custom:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
  opacity: 0.5;
  
    
}

.container .card-custom .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 270px;
}

.container .card-custom .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card-custom:hover .contentBx{
  height: 210px;
}

.container .card-custom .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  margin: 0;
}

.container .card-custom .contentBx .size, .container .card-custom .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card-custom:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card-custom:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card-custom .contentBx .size h3, .container .card-custom .contentBx .color h3{
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card-custom .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}



.container .card-custom .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}


.container .card-custom .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card-custom:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

.medal-img{
    width: 50%;
    height: auto;
}







@media (max-width: 577px){
  .container{
    display: none;
  }
}

.img-mine{
  padding: 1rem;
  z-index: 0;
  transition: 1s;

}

.img-mine:hover{
  scale: (1.1);
  
  transition: 2s;

}
.img-medal{
  
  width:100%;
  left: 52%;
  z-index: 1;
  transition: 1s;
  top: 40%;
}
.img-medal:hover{
rotate: (50%);
  
}

.text-mine{
margin-top: 4rem;
}

.card-mine{
  width: 25rem;
  border-radius: 10px;
  font-size: large;
}
.card-mine:hover{
  scale: (1.1);
}