<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Login v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <div class="modal-body" tabindex="0" ngbAutofocus>
          <h1 class="text-center">¡Hola!</h1>
          <h5 class="text-center">
            Por tu seguridad es necesario cambiar tu contraseña
          </h5>

          <hr />
          <form [formGroup]="passwordForm">
            <!-- contraseña y confirmacion de contraseña -->

            <form
              class="form-horizontal"
              (ngSubmit)="(TDMultiRuleForm.form.valid)"
              #TDMultiRuleForm="ngForm"
            >
              <div class="form-group">
                <label class="form-control-label" for="TDMultiRulePassword"
                  >Contaseña nueva</label
                >
                <input
                  type="password"
                  name="TDMultiRulePassword"
                  class="form-control"
                  placeholder="Contaseña nueva"
                  ngModel
                  #TDMultiRulePasswordRef="ngModel"
                  required
                  minlength="6"
                  pattern="(?=.*d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  id="TDMultiRulePassword"
                />
                <div
                  *ngIf="
                    TDMultiRulePasswordRef.invalid &&
                    TDMultiRulePasswordRef.touched
                  "
                  class="form-text text-muted danger"
                >
                  <small *ngIf="TDMultiRulePasswordRef.errors.required">
                    La contrasña es requerida
                  </small>
                  <small *ngIf="TDMultiRulePasswordRef.errors.pattern">
                    La contraseña debe contener una mayúscula, una minúscula, un
                    número y debe tener 8 caracteres.</small
                  >
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="TDMultiRuleConfPassword"
                  >Confirmar contraseña</label
                >
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirmar contraseña"
                  minlength="6"
                  name="TDMultiRuleConfPassword"
                  class="form-control"
                  required
                  ngModel
                  #TDMultiRuleConfPasswordRef="ngModel"
                  pattern="{{ TDMultiRulePasswordRef.value }}"
                  id="TDMultiRuleConfPassword"
                />
                <div
                  *ngIf="
                    TDMultiRuleConfPasswordRef.invalid &&
                    TDMultiRuleConfPasswordRef.touched
                  "
                  class="form-text text-muted danger"
                >
                  <small *ngIf="TDMultiRuleConfPasswordRef.errors.required">
                    La confirmación de contraseña es requerida.
                  </small>
                  <small *ngIf="TDMultiRuleConfPasswordRef.errors.pattern">
                    Las contraseñas no coinciden.</small
                  >
                </div>
              </div>

              <button
                type="button"
                (click)="changePassword(TDMultiRulePasswordRef.value)"
                [disabled]="!TDMultiRuleForm.form.valid"
                class="btn btn-primary btn-block mt-2"
                rippleEffect
              >
                Cambiar contraseña
              </button>

              <!-- Boton del tamaño del card -->
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
