<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <h2 class="text-center">Top 3 Productos Mes Abril</h2>
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="form-group">
            <div class="card text-center">
              <div class="card-body">
                <div
                  class="avatar p-50 m-0 mb-1"
                  style="
                    background-color: #ffd700;
                    color: white;
                    border: 5px solid white;
                  "
                >
                  <div class="avatar-content">
                    <i data-feather="award" class="font-medium-5"></i>
                  </div>
                </div>
                <h2 class="font-weight-bolder">{{ cardData.views }}</h2>
                <p class="mb-0 line-ellipsis">Buñuelo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="form-group">
            <div class="card text-center">
              <div class="card-body">
                <div
                  class="avatar p-50 m-0 mb-1"
                  style="
                    background-color: #c0c0c0;
                    color: white;
                    border: 5px solid white;
                  "
                >
                  <div class="avatar-content">
                    <i data-feather="award" class="font-medium-5"></i>
                  </div>
                </div>
                <h2 class="font-weight-bolder">{{ cardData.views }}</h2>
                <p class="mb-0 line-ellipsis">Empanada de Carne</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <div class="card text-center">
              <div class="card-body">
                <div
                  class="avatar p-50 m-0 mb-1"
                  style="
                    background-color: #cd7f32;
                    color: white;
                    border: 5px solid white;
                  "
                >
                  <div class="avatar-content">
                    <i data-feather="award" class="font-medium-5"></i>
                  </div>
                </div>
                <h2 class="font-weight-bolder">{{ cardData.views }}</h2>
                <p class="mb-0 line-ellipsis">Palito de Queso</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        type="button justify-content-end"
        class="btn btn-outline-info round"
        rippleEffect
      >
        Descargar Informe Top 3
      </button>
    </section>
  </div>
</div>
