.blur-in {
    animation: blur-in 0.4s linear both;
}
@keyframes blur-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

.imagen{
    width: 350px;
    height: auto;
}







