<div class="container-fluid container-header bg-dark">
  <footer class="p-3">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <h3>Contacto</h3>
        <hr />
        <p><i class="mr-1 fa-solid fa-phone"></i> 3006483858</p>
        <p>
          <i class="mr-1 fa-solid fa-location-arrow"></i>Cl 71Sur #45a-56,
          Sabaneta, Antioquia
        </p>
        <p><i class="mr-1 fa-solid fa-envelope"></i> jdps1006@hotmail.com</p>
      </div>
    </div>
  </footer>
</div>
