@import "@core/scss/base/pages/app-invoice.scss";
@import "@core/scss/angular/libs/datatables.component.scss";
@import "@core/scss/angular/libs/select.component.scss";

@import "@core/scss/base/bootstrap-extended/_include"; // Components includes

// invoice list
.invoice-list-wrapper {
  .col-actions {
    a {
      &:not(.dropdown-item) {
        color: $body-color;
      }
    }
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(253, 3, 3, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  height: 90%;
  width: 90%;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 20px 20px 0 0;
  max-height: 200px;
  width: 100%;
}
