<app-landing-header></app-landing-header>

<div class="">
  <div class="mt-2 ml-5 mr-5">
    <section class="invoice-list-wrapper">
      <div class="row">

        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="container page-wrapper">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="../../../../assets/images/products/buñuelo.png" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">BUÑUELO</span>
                        </div>
                        <div class="a-size">Excelentes para tardear, acompáñalas de una buena taza de café.</div>
                      </div>
                    </div>

                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>

                      <a class="cart" href="#">
                        <span class="price">$1000</span>
                        <span class="add-to-cart">
                          <span class="txt">Agregar</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="container page-wrapper">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="../../../../assets/images/products/arepa.jpeg" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">AREPA DE HUEVO</span>
                        </div>
                        <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                      </div>
                    </div>

                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>

                      <a class="cart" href="#">
                        <span class="price">$2500</span>
                        <span class="add-to-cart">
                          <span class="txt">Add in cart</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="container page-wrapper">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="../../../../assets/images/products/empanadas.jpg" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">EMPANADA</span>
                        </div>
                        <div class="a-size">Para desayunar, para el algo, para la comida… Simplemente el sabor
                          tradicional</div>
                      </div>
                    </div>

                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>

                      <a class="cart" href="#">
                        <span class="price">$1500</span>
                        <span class="add-to-cart">
                          <span class="txt">Agregar</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="container page-wrapper">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="../../../../assets/images/products/palitos.png" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">PALITOS DE QUESO</span>
                        </div>
                        <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                      </div>
                    </div>

                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>

                      <a class="cart" href="#">
                        <span class="price">$3000</span>
                        <span class="add-to-cart">
                          <span class="txt">Add in cart</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="container page-wrapper">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="../../../../assets/images/products/papas.png" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">PAPA RELLENA</span>
                        </div>
                        <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                      </div>
                    </div>

                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>

                      <a class="cart" href="#">
                        <span class="price">$1500</span>
                        <span class="add-to-cart">
                          <span class="txt">Add in cart</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="container page-wrapper">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="../../../../assets/images/products/buñuelo.png" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">BUÑUELO</span>
                        </div>
                        <div class="a-size">Excelentes para tardear, acompáñalas de una buena taza de café.</div>
                      </div>
                    </div>

                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>

                      <a class="cart" href="#">
                        <span class="price">$1000</span>
                        <span class="add-to-cart">
                          <span class="txt">Agregar</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="container page-wrapper">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="../../../../assets/images/products/arepa.jpeg" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">AREPA DE HUEVO</span>
                        </div>
                        <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                      </div>
                    </div>

                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>

                      <a class="cart" href="#">
                        <span class="price">$2500</span>
                        <span class="add-to-cart">
                          <span class="txt">Add in cart</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-3">
          <div class="card">
            <div class="container page-wrapper">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="../../../../assets/images/products/empanadas.jpg" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">EMPANADA</span>
                        </div>
                        <div class="a-size">Para desayunar, para el algo, para la comida… Simplemente el sabor
                          tradicional</div>
                      </div>
                    </div>

                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>

                      <a class="cart" href="#">
                        <span class="price">$1500</span>
                        <span class="add-to-cart">
                          <span class="txt">Agregar</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>