<app-landing-header></app-landing-header>

<div class="content-wrapper container-xxl pt-5">
  <div class="content-body">
    <section class="invoice-list-wrapper">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img
              src="../../../../assets/images/products/buñuelo.png"
              class="card-img-top"
              alt="Producto"
            />
            <div class="card-body">
              <h3 href="#" class="title text-primary">BUÑUELO</h3>
              <div class="price mt-1">$1000</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="../../../../assets/images/products/arepa.jpeg"
              class="card-img-top"
              alt="Producto"
            />
            <div class="card-body">
              <h3 href="#" class="title text-primary">AREPA DE HUEVO</h3>
              <div class="price mt-1">$2500</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="../../../../assets/images/products/empanadas.jpg"
              class="card-img-top"
              alt="Producto"
            />
            <div class="card-body">
              <h3 href="#" class="title text-primary">EMPANADA</h3>
              <div class="price mt-1">$1500</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="../../../../assets/images/products/palitos.png"
              class="card-img-top"
              alt="Producto"
            />
            <div class="card-body">
              <h3 href="#" class="title text-primary">PALITOS DE QUESO</h3>
              <div class="price mt-1">$3000</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="../../../../assets/images/products/papas.png"
              class="card-img-top"
              alt="Producto"
            />
            <div class="card-body">
              <h3 href="#" class="title text-primary">PAPA RELLENA</h3>
              <div class="price mt-1">$1500</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
