<div class="col-md-12 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Actualizar un cliente</h4>
        <form class="form" [formGroup]="clientForm">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Nombre</label>
  
                <input
                  [(ngModel)]="client.name"
                  name="name"
                  required
                  formControlName="name"
                  type="text"
                  class="form-control"
                  placeholder="Nombre del client"
                />
  
                <span
                  *ngIf="
                    clientForm.controls.name.errors?.required &&
                    clientForm.controls.name.dirty
                  "
                  class="error"
                >
                  El nombre es requerido
                </span>
              </div>
            </div>
  
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Apellido</label>
  
                <input
                  [(ngModel)]="client.last_name"
                  required
                  name="last_name"
                  formControlName="last_name"
                  type="text"
                  class="form-control"
                  placeholder="Apellido"
                />
                <span
                  *ngIf="
                    clientForm.controls.last_name.errors?.required &&
                    clientForm.controls.last_name.dirty
                  "
                  class="error"
                >
                  El apellido es requerido
                </span>
              </div>
            </div>
  
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Teléfono</label>
  
                <input
                  [(ngModel)]="client.telephone"
                  required
                  name="telephone"
                  formControlName="telephone"
                  type="number"
                  class="form-control"
                  placeholder="Teléfono del client"
                />
                <span
                  *ngIf="
                    clientForm.controls.telephone.errors?.required &&
                    clientForm.controls.telephone.dirty
                  "
                  class="error"
                >
                  El teléfono es requerido
                </span>
              </div>
            </div>
  
            <div class="col-sm-6 col-12">
              <label>Selecionar membresia</label>
  
              <div class="form-group">
                <!-- Basic Multi select -->
                <ng-select
                  [items]="selectMulti | async"
                  [closeOnSelect]="false"
                  [searchable]="false"
                  (change)="selectEvent($event)"
                  bindLabel="name"
                  placeholder="Seleccionar membresía"
                  [ngModelOptions]="{
                    standalone: true
                  }"
                  [ngModel]="selectMultiSelected | async"
                  [disabled]="hasMembership == true"
                >

                  

                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label"> {{ item.name }}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>

            <!-- Fechas -->
            <div class="col-md-6 col-12">
              <label>Fecha de inicio de la membresía</label>
              <div class="form-group">
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input [disabled]="hasMembership == true"  class="form-control" placeholder="yyyy-mm-dd" name="Basic Date Picker" [(ngModel)]="basicDPdata"
                        ngbDatepicker #basicDP="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDP.toggle()"
                          type="button" rippleEffect></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
  
            <div class="col-12">
              <button
                (click)="confirmUpdateAlert()"
                class="btn btn-primary"
                [disabled]="!clientForm.valid"
              >
                Guardar
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  
  
  
