<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">
        <!-- Invoice List Header -->
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div class="d-flex align-items-center">
                <label class="d-flex align-items-center"
                  >Show
                  <select
                    class="form-control mx-25"
                    [(ngModel)]="selectedOption"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
                <button
                  class="btn btn-primary ml-2"
                  (click)="modalOpenForm(modalForm)"
                  rippleEffect
                >
                  Agregar un usuario
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--/ Invoice List table -->
        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <!-- Column -->
          <ngx-datatable-column name="#" prop="id" [width]="30">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">#{{ id }}</p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column name="Nombre" prop="name" [width]="30">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">{{ id | uppercase }}</p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column name="Apellido" prop="lastname" [width]="30">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">
                {{ id | uppercase }}
              </p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Column -->
          <ngx-datatable-column name="Email" prop="email" [width]="30">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <p class="font-weight-bold text-dark">
                {{ id }}
              </p>
            </ng-template>
          </ngx-datatable-column>

          <!-- Accions with icons -->
          <ngx-datatable-column name="Acciones" [width]="30">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex justify-content-start">
                <button
                  class="btn btn-icon btn-sm mr-1"
                  (click)="modalOpenVC(modalVC); getUserInfo(row.id);"
                >
                  <i class="feather icon-eye"></i>
                </button>
                <button
                  class="btn btn-icon btn-sm mr-1"
                  (click)="getOneUser(row); modalOpenEdit(modalEdit)"
                >
                  <i class="feather icon-edit"></i>
                </button>
                <button
                  class="btn btn-icon btn-sm"
                  (click)="confirmDeleteUser(row.id)"
                >
                  <i class="feather icon-trash"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
  </div>
</div>

<!-- *************************************************** MODAL *************************************************** -->

<div>
  <!-- Login Form -->
  <div class="login-form">
    <!-- Modal -->
    <ng-template #modalForm let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Agregar</h4>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss('Cross click')"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <form [formGroup]="userForm">
          <!-- input -->
          <label>Nombre </label>
          <div class="form-group">
            <input
              formControlName="name"
              type="text"
              placeholder="Nombre"
              class="form-control"
            />
            <span *ngIf="validField('name')" class="error">
              El nombre es requerido
            </span>
          </div>

          <!-- input -->
          <label>Apellido </label>
          <div class="form-group">
            <input
              formControlName="lastname"
              type="text"
              placeholder="Apellido"
              class="form-control"
            />
            <span *ngIf="validField('lastname')" class="error">
              El apellido es requerido
            </span>
          </div>

          <!-- input -->
          <label>Telefono </label>
          <div class="form-group">
            <input
              formControlName="telephone"
              type="text"
              placeholder="Telefono"
              class="form-control"
            />
            <span *ngIf="validField('telephone')" class="error">
              El telefono es requerido
            </span>
          </div>

          <!-- input -->
          <label>Rol </label>
          <div class="form-group">
            <input
              formControlName="role"
              type="text"
              placeholder="Rol"
              class="form-control"
            />
            <span *ngIf="validField('role')" class="error">
              El rol es requerido
            </span>
          </div>

          <!-- input -->
          <label>Email </label>
          <div class="form-group">
            <input
              formControlName="email"
              type="email"
              placeholder="Email"
              class="form-control"
            />
            <span *ngIf="validField('email')" class="error">
              El email es requerido
            </span>
          </div>

          <!-- input -->
          <label>Contraseña </label>
          <div class="form-group">
            <input
              formControlName="password"
              type="password"
              placeholder="Contraseña"
              class="form-control"
            />
            <span *ngIf="validField('password')" class="error">
              La contraseña es requerida
            </span>
          </div>

          <!-- input -->
          <label>Confirmar contraseña </label>
          <div class="form-group">
            <input
              formControlName="confirmPassword"
              type="password"
              placeholder="Confirmar contraseña"
              class="form-control"
            />

            <span *ngIf="validField('confirmPassword')" class="error">
              La confirmación de contraseña es requerida
              <br>
            </span>

            <span *ngIf="validPassword()" class="error">
              Las contraseñas no son iguales
            </span>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveNewUser(); modal.close(); validPassword()"
          [disabled]="!userForm.valid"
          rippleEffect
        >
          Agregar
        </button>
      </div>
    </ng-template>
    <!-- / Modal -->
  </div>
</div>


<!--? ----------------------- Modal edit ----------------------------->
<div>
  <!-- Login Form -->
  <div class="login-form">
    <!-- Modal -->
    <ng-template #modalEdit let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Actualizar</h4>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss('Cross click')"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <form [formGroup]="editForm">
          <!-- input -->
          <label>Nombre </label>
          <div class="form-group">
            <input
              formControlName="name"
              type="text"
              placeholder="Nombre"
              class="form-control"
            />
            <span *ngIf="editValidField('name')" class="error">
              El nombre es requerido
            </span>
          </div>

          <!-- input -->
          <label>Apellido </label>
          <div class="form-group">
            <input
              formControlName="lastname"
              type="text"
              placeholder="Apellido"
              class="form-control"
            />
            <span *ngIf="editValidField('lastname')" class="error">
              El apellido es requerido
            </span>
          </div>

          <!-- input -->
          <label>Telefono </label>
          <div class="form-group">
            <input
              formControlName="telephone"
              type="text"
              placeholder="Telefono"
              class="form-control"
            />
            <span *ngIf="editValidField('telephone')" class="error">
              El telefono es requerido
            </span>
          </div>

          <!-- input -->
          <label>Rol </label>
          <div class="form-group">
            <input
              formControlName="role"
              type="text"
              placeholder="Rol"
              class="form-control"
            />
            <span *ngIf="editValidField('role')" class="error">
              El rol es requerido
            </span>
          </div>

          <!-- input -->
          <label>Email </label>
          <div class="form-group">
            <input
              formControlName="email"
              type="email"
              placeholder="Email"
              class="form-control"
            />
            <span *ngIf="editValidField('email')" class="error">
              El email es requerido
            </span>
          </div>

          <!-- input -->
          <label>Contraseña </label>
          <div class="form-group">
            <input
              formControlName="password"
              type="password"
              placeholder="Contraseña"
              class="form-control"
            />
            <span *ngIf="editValidField('password')" class="error">
              La contraseña es requerida
            </span>
          </div>

          <!-- input -->
          <label>Confirmar contraseña </label>
          <div class="form-group">
            <input
              formControlName="confirmPassword"
              type="password"
              placeholder="Confirmar contraseña"
              class="form-control"
            />
            <span *ngIf="editValidField('confirmPassword')" class="error">
              La confirmación de contraseña es requerida
              <br>
            </span>

            <span *ngIf="validPassword()" class="error">
              Las contraseñas no son iguales
            </span>
          </div>

         
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateUser()"
          [disabled]="!editForm.valid"
          rippleEffect
        >
          Actualizar
        </button>
      </div>
    </ng-template>
    <!-- / Modal -->
  </div>
</div>

<!-- ? Modal info usuarios -->
<div>
  <ng-template #modalVC let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">
        Datos del usuario
      </h5>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div *ngIf="userView" class="modal-body" tabindex="0" ngbAutofocus >
      <p><b>Nombre: </b> {{ userView.name }}</p> 
      <p><b>Apellido: </b> {{ userView.lastname }}</p>
      <p><b>Email: </b> {{ userView.email }} </p>
      <p><b>Telefono: </b> {{ userView.telephone }}</p>
      <p><b>Rol: </b> {{ userView.role }}</p>

    </div>


    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Accept click')"
        rippleEffect
      >
        Ok
      </button>
    </div>
  </ng-template>
  <!-- / Modal -->
</div>
