<div class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="col-md-6 p-5 text-center">
    <!-- Register v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <h2 class="brand-text text-primary ml-1">Eden.Soft</h2>
        </a>

        <h4 class="card-title mb-1">Parece que aún no estás registrado 😱</h4>
        <p class="card-text mb-2">
          {{ provider | titlecase }} nos brindó tus datos, solo debes completar
          el formulario 😳
        </p>

        <form class="auth-register-form mt-2" [formGroup]="registerForm">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Nombres</label>
                <input
                  type="text"
                  id="nombres"
                  class="form-control"
                  formControlName="nombre"
                  autofocus
                />
                <span class="text-danger" *ngIf="validField('nombre')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="last-name-column">Apellidos</label>
                <input
                  type="text"
                  id="apellidos"
                  class="form-control"
                  formControlName="apellido"
                />
                <span class="text-danger" *ngIf="validField('apellido')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="city-column">Documento</label>
                <input
                  type="number"
                  id="Telefono"
                  class="form-control"
                  placeholder="minimo 10 caracteres"
                  formControlName="id_cliente_documento"
                />
                <span
                  class="text-danger"
                  *ngIf="validField('id_cliente_documento')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="city-column">Teléfono</label>
                <input
                  type="number"
                  id="Telefono"
                  class="form-control"
                  formControlName="telefono"
                />
                <span class="text-danger" *ngIf="validField('telefono')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for="country-floating">E-mail</label>
                <input
                  type="email"
                  id="country-floating"
                  class="form-control"
                  formControlName="correo"
                  placeholder="ejemplo@gmail.com"
                />
                <span class="text-danger" *ngIf="validField('correo')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="company-column">Contraseña</label>
                <input
                  type="password"
                  id="company-column"
                  class="form-control"
                  formControlName="contrasena"
                  placeholder="minimo 5 caracteres"
                />
                <span class="text-danger" *ngIf="validField('contrasena')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="email-id-column">Confirmar Contraseña</label>
                <input
                  type="password"
                  id="email-id-column"
                  class="form-control"
                  formControlName="confirmPassword"
                  placeholder="minimo 5 caracteres"
                />
                <span class="text-danger" *ngIf="validField('confirmPassword')"
                  >Este campo es requerido <br
                /></span>
                <span class="text-danger" *ngIf="validPassword()"
                  >Las Contraseñas no son iguales</span
                >
              </div>
            </div>
          </div>
          <hr />
          <button
            class="btn btn-primary btn-block"
            tabindex="5"
            rippleEffect
            [disabled]="!registerForm.valid"
            (click)="createUser()"
          >
            Registrarse
            <!-- [disabled]="!registerForm.valid" -->
          </button>
        </form>

        <p class="text-center mt-2">
          <span>¿Ya tienes una cuenta? </span>
          <a (click)="loginRedirect()">
            <span> Ingresa aqui</span>
          </a>
        </p>
      </div>
      <!-- /Register v1 -->
    </div>
  </div>
</div>
