<!-- ? Tabla -->
<div>

    <div class="container mt-5">
        <div class="row justify-content-between mb-3">

            <div class="col-md-6">
                <h1>Cotizaciones</h1>
            </div>


            <div class="col-md-6 mt-3">
                <div class="row">
                    <form class="form-inline col-auto col-md-8">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    </form>

                    <button type="button" class="btn custom-button col-md-4">
                        Crear Cotización
                    </button>
                </div>
            </div>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Productos</th> <!-- Ver productos en una modal -->
                    <th scope="col">Estado</th>
                    <th scope="col">Pago</th>
                    <th scope="col">Anular</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>12/06/2022</td>
                    <td>
                        <button type="button" class="btn custom-button">
                            <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png" alt="logo"
                                style="width: 20px;">
                        </button>
                    </td>
                    <td>
                        Sin respuesta
                    </td>
                    <td>
                        <button type="button" class="btn custom-button">
                            Pagar
                        </button>
                    </td>
                    <td>
                        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828666.png" alt="logo"
                                style="width: 30px;"></a>
                    </td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>16/08/2022</td>
                    <td>
                        <button type="button" class="btn custom-button">
                            <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png" alt="logo"
                                style="width: 20px;">
                        </button>
                    </td>
                    <td>
                        Aceptado
                    </td>
                    <td>
                        <button type="button" class="btn custom-button">
                            Pagar
                        </button>
                    </td>
                    <td>
                        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828666.png" alt="logo"
                                style="width: 30px;"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>