.custom-bar-menu{
    background-color: whitesmoke;
    border-bottom: black solid 1px;
}

.profile_image{
    width: 100px;
    padding: 10px;
}

.custom-button{
    background-color: #f57f0b;
    color: white;
}