<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <h2 class="brand-text text-primary ml-1">Eden.soft</h2></a
    >

    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div
        class="w-100 d-lg-flex align-items-center justify-content-center px-5"
      >
        <img src="../../../../../assets/images/avatars/confused.png" alt="" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">
          ¿Olvidaste tu contraseña? 🤯
        </h2>
        <p class="card-text mb-2">Ingresa tu correo electronico registrado</p>
        <form
          class="auth-reset-password-form mt-2"
          [formGroup]="recuperarForm"
          (ngSubmit)="onSubmit()"
        >
          <label for="email">Correo Electronico</label>
          <input
            type="email"
            formControlName="email"
            name="email"
            class="form-control"
            placeholder="ejemplo@email.com"
          />
          <span class="text-danger" *ngIf="validField('email')">
            Este campo es requerido
          </span><br />
          <button
            class="btn btn-primary btn-block"
            tabindex="3"
            rippleEffect
            (click)="enviarCorreo()"
            [disabled]="!recuperarForm.valid"
          >
            Recuperar Contraseña
          </button>
          <div class="row mt-1 justify-content-center" *ngIf="timer">
            <div class="col-auto">
              <div class="spinner-border text-primary" role="status"></div>
            </div>
          </div>
          
        </form>
        <p class="text-center mt-2">
          <a routerLink="/main/login"
            ><i data-feather="chevron-left" class="mb-25"></i> Ir al login</a
          >
        </p>
      
      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>
