<div class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="col-md-6 p-5 text-center">
    <!-- Register v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="src\favicon.ico" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">Eden.Soft</h2>
        </a>

        <h4 class="card-title mb-1">La Comelona Comienza aqui 🚀</h4>
        <p class="card-text mb-2">
          Completa los siguientes datos para registrarte
        </p>

        <form
          class="auth-register-form mt-2"
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Nombres</label>
                <input
                  type="text"
                  id="nombres"
                  class="form-control"
                  formControlName="name"
                  autofocus
                />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="last-name-column">Apellidos</label>
                <input
                  type="text"
                  id="apellidos"
                  class="form-control"
                  formControlName="last_name"
                />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="city-column">Documento</label>
                <input
                  type="number"
                  id="Telefono"
                  class="form-control"
                  placeholder="minimo 10 caracteres"
                  formControlName="id"
                />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="country-floating">E-mail</label>
                <input
                  type="email"
                  id="country-floating"
                  class="form-control"
                  formControlName="email"
                  placeholder="ejemplo@gmail.com"
                />
              </div>
            </div>

            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="company-column">Contraseña</label>
                <input
                  type="password"
                  id="company-column"
                  class="form-control"
                  formControlName="password"
                  placeholder="minimo 5 caracteres"
                />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="email-id-column">Confirmar Contraseña</label>
                <input
                  type="password"
                  id="email-id-column"
                  class="form-control"
                  formControlName="confirmPassword"
                  placeholder="minimo 5 caracteres"
                />
              </div>
            </div>

            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="city-column">Telefono</label>
                <input
                  type="number"
                  id="Telefono"
                  class="form-control"
                  formControlName="phone"
                />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="city-column">Direccion</label>
                <input
                  type="text"
                  id="direccion"
                  class="form-control"
                  formControlName="adress"
                />
              </div>
            </div>
          </div>

          <hr />
          <button
            class="btn btn-primary btn-block"
            tabindex="5"
            rippleEffect
            [disabled]="!registerForm.valid"
            (click)="createUser()"
          >
            Registrarse
          </button>
        </form>

        <p class="text-center mt-2">
          <span>¿Ya tienes una cuenta? </span>
          <a routerLink="/main/login">
            <span> Ingresa aqui</span>
          </a>
        </p>

        <div class="divider my-2">
          <div class="divider-text">Registrate con</div>
        </div>

        <div class="auth-footer-btn d-flex justify-content-center">
          <a href="javascript:void(0)" class="btn btn-google">
            <i class="fa-brands fa-google"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Register v1 -->
  </div>
</div>
