<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ userData.name }} {{ userData.last_name }}
          </h5>
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../../../assets/images/avatars/usuario.png"
                    style="width: 200px"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="card">
                <div *ngIf="userData">
                  <div class="card-body">
                    <h5 class="card-title">Datos Personales</h5>
                    <p class="card-text">
                      <i class="fa-solid fa-user"></i> {{ userData.nombre }}
                      {{ userData.apellido }}
                    </p>
                    <p class="card-text">
                      <i class="fa-solid fa-id-card"></i>
                      {{ userData.id_cliente_documento }}
                    </p>
                    <p class="card-text">
                      <i class="fa-solid fa-envelope"></i> {{ userData.correo }}
                    </p>
                    <p class="card-text">
                      <i class="fa-solid fa-phone"></i> +57
                      {{ userData.telefono }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end mr-3">
            <button
              class="btn btn-primary m-1"
              (click)="modalOpen(editModal); getRowData(userData)"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <app-cotizacion-cliente></app-cotizacion-cliente>
      </div>
      <div class="card">
        <app-pedidos-cliente></app-pedidos-cliente>
      </div>
    </section>
  </div>
</div>

<div>
  <!-- Login Form -->
  <div class="login-form">
    <!-- Modal -->
    <ng-template #editModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Editar mi perfil</h4>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss('Cross click')"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <form class="auth-register-form mt-2" [formGroup]="editForm">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Nombres</label>
                <input
                  type="text"
                  id="nombres"
                  class="form-control"
                  formControlName="nombre"
                  autofocus
                />
                <span class="text-danger" *ngIf="validFieldEdit('nombre')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="last-name-column">Apellidos</label>
                <input
                  type="text"
                  id="apellidos"
                  class="form-control"
                  formControlName="apellido"
                />
                <span class="text-danger" *ngIf="validFieldEdit('apellido')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="city-column">Documento</label>
                <input
                  type="number"
                  id="Telefono"
                  class="form-control"
                  placeholder="minimo 10 caracteres"
                  formControlName="id_cliente_documento"
                  disabled
                />
                <span
                  class="text-danger"
                  *ngIf="validFieldEdit('id_cliente_documento')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="city-column">Telefono</label>
                <input
                  type="number"
                  id="Telefono"
                  class="form-control"
                  formControlName="telefono"
                />
                <span class="text-danger" *ngIf="validFieldEdit('telefono')"
                  >Este campo es requerido</span
                >
              </div>
            </div>

            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for="country-floating">E-mail</label>
                <input
                  type="email"
                  id="country-floating"
                  class="form-control"
                  formControlName="correo"
                  placeholder="ejemplo@gmail.com"
                  disabled
                  value=""
                />
                <span class="text-danger" *ngIf="validFieldEdit('correo')"
                  >Este campo es requerido</span
                >
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="basicInputFile">Cambiar imagen de perfil</label>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="customFile"
                    (change)="captureFile($event)"
                  />
                  <label class="custom-file-label" for="customFile"
                    >Elegir archivo</label
                  >
                </div>
                <div *ngIf="prevImg">
                  <div class="row">
                    <img [src]="prevImg" class="imgPrev" alt="imgdata" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <button
            class="btn btn-primary btn-block"
            tabindex="5"
            rippleEffect
            [disabled]="!editForm.valid"
            (click)="editProfile()"
          >
            Editar
            <!-- [disabled]="!registerForm.valid" -->
          </button>
        </form>
      </div>
    </ng-template>
    <!-- / Modal -->
  </div>
</div>
