<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ userData.name }} {{ userData.last_name }}
          </h5>
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../../../assets/images/avatars/usuario.png"
                    style="width: 200px"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="card">
                <div *ngIf="userData">
                  <div class="card-body">
                    <h5 class="card-title">Datos Personales</h5>
                    <p class="card-text">
                      <i class="fa-solid fa-user"></i> {{ userData.name }}
                      {{ userData.last_name }}
                    </p>
                    <p class="card-text">
                      <i class="fa-solid fa-id-card"></i> {{ userData.id }}
                    </p>
                    <p class="card-text">
                      <i class="fa-solid fa-envelope"></i> {{ userData.email }}
                    </p>
                    <p class="card-text">
                      <i class="fa-solid fa-phone"></i> +57 {{ userData.phone }}
                    </p>
                    <p class="card-text">
                      <i class="fa-solid fa-location-dot"></i>
                      {{ userData.adress }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end mr-3">
            <a class="btn btn-primary m-1">Editar</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
