<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Invoice List -->
        <section class="invoice-list-wrapper">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Juanito Perez Cardona</h5>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="../../../../../assets/images/avatars/usuario.png" style="width:200px; "
                                        alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Datos Personales</h5>
                                    <p class="card-text"><i class="fa-solid fa-user"></i> Juanito Perez Cardona</p>
                                    <p class="card-text"><i class="fa-solid fa-id-card"></i> 1037646632</p>
                                    <p class="card-text"><i class="fa-solid fa-envelope"></i> josesito@gmail.com</p>
                                    <p class="card-text"><i class="fa-solid fa-phone"></i> +56912345678</p>
                                    <p class="card-text"><i class="fa-solid fa-location-dot"></i> Calle 39B sur 34</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end mr-3">
                        <a class="btn btn-primary m-1 ">Editar</a>

                    </div>
                </div>
            </div>

        </section>
    </div>
</div>