<div class="card">
    <div class="card-body">
        <h5 class="card-title">Juanito Perez Cardona</h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../../../assets/images/avatars/usuario.png" style="width:120px; "  alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-primary m-1">Editar</a>
    </div>
</div>