<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Invoice List -->
        <section class="invoice-list-wrapper">
            <div class="card">
                <!-- Invoice List Header -->
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <div class="d-flex align-items-center">
                                <label class="d-flex align-items-center">Show
                                    <!-- ? Selector de filas -->
                                    <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <!-- ?Buscador -->
                            <label class="d-flex align-items-center"><input type="search" placeholder="Buscar"
                                    class="form-control ml-25" (keyup)="filterUpdate($event)" /></label>

                            <!-- ? Botón de crear -->
                            <button class="btn btn-primary ml-2" (click)="modalOpen(modalForm)" rippleEffect>
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
                <!--? Aquí empieza la tabla -->
                <ngx-datatable [rows]="kitchenSinkRows" [rowHeight]="50" class="bootstrap core-bootstrap"
                    [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                    [scrollbarH]="true">
                    <!-- Column -->
                    <ngx-datatable-column name="#" prop="id" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">#{{ id }}</p>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column -->
                    <ngx-datatable-column name="nombre" prop="name" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">{{ id | uppercase }}</p>
                        </ng-template>
                    </ngx-datatable-column>
                     <!-- Column -->
                     <ngx-datatable-column name="permisos" prop="" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">{{ id | uppercase }}</p>
                        </ng-template>
                    </ngx-datatable-column>

                   

                    <!-- Column -->
                    <ngx-datatable-column name="Acciones" prop="Actions" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <!-- Icono x rojo -->
                            <button class="btn btn-icon btn-sm">
                                <i class="feather icon-x-circle text-danger" (click)="confirmAlert()"></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </section>
    </div>
</div>

<!-- *************************************************** MODALES *************************************************** -->

<!-- ! Modal de agregar -->
<div>

    <!-- Login Form -->
    <div class="login-form">
        <!-- Modal -->
        <ng-template #modalForm let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Agregar</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]="clientForm">
                    <div class="form-group">
                        <label>Seleccionar productos</label>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <ng-select [items]="selectBasic" bindLabel="name">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary">
                                    <i class="feather icon-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Buñuelo</td>
                            <td>
                                <core-touchspin></core-touchspin>
                            </td>
                            <td>
                                <button class="btn btn-icon btn-sm">
                                    <i class="feather icon-edit"></i>
                                </button>

                                <button class="btn btn-icon btn-sm text-danger">
                                    <i class="feather icon-trash"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    Crear
                </button>
            </div>
        </ng-template>
        <!-- / Modal -->
    </div>
</div>

<!-- ! Modal de info -->
<div>
    <ng-template #infoModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
                Detalles
            </h5>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- ?Body de la modal -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Buñuelos</td>
                    <td>600</td>
                </tr>
                <tr>
                    <td>Pastel de pollo</td>
                    <td>300</td>
                </tr>

            </tbody>
        </table>


        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
                Ok
            </button>
        </div>
    </ng-template>
    <!-- / Modal -->
</div>

<!-- ! Modal de pago -->
<div>
    <ng-template #paymentModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
                Pagar
            </h5>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- ?Body de la modal -->

        <div class="p-1">
            <div class="row pl-3 pr-3 pt-3">

                <div class="col">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="radio1" name="customRadio" class="custom-control-input" />
                        <label class="custom-control-label" for="radio1">Transferencia</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="radio2" name="customRadio" class="custom-control-input" />
                        <label class="custom-control-label" for="radio2">Efectivo</label>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-body text-center">
                        Si selecciona transferencia, será redireccionado a la pasarela de pago.
                    </div>
                </div>
            </div>

            <hr>

            <p>Total a pagar: <b>$250.000</b></p>


        </div>



        <div class="modal-footer">
            <!-- cancel button -->
            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')" rippleEffect>
                Cancelar
            </button>
            <!-- pay button -->
            <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
                Pagar
            </button>

        </div>
    </ng-template>
    <!-- / Modal -->
</div>

<!-- ? Notas -->
<hr>
<p class="text-primary">Comentarios de juandi:</p>
<div class="pl-2">
    <p>Oe, pillese las modales, dele en el ojito, en pagar y en la x, quedaron lo más de lindas, yo comenté lo más que
        pude
        para que vaya tomando ejemplos.</p>
    <p>El buscador no funciona y no sé por qué, cuando agreguemos el back-end lo arreglamos</p>
    <p>El back-end va a ser en python porque yo digo</p>
</div>