<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Invoice List -->
        <section class="invoice-list-wrapper">
            <div class="card">
                <!-- Invoice List Header -->
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <div class="d-flex align-items-center">
                                <label class="d-flex align-items-center">Show
                                    <!-- ? Selector de filas -->
                                    <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <!-- ?Buscador -->
                            <label class="d-flex align-items-center"><input type="search" placeholder="Buscar"
                                    class="form-control ml-25" (keyup)="filterUpdate($event)" /></label>

                            <!-- ? Botón de crear -->
                            <button class="btn btn-primary ml-2" (click)="modalOpen(modalForm)" rippleEffect>
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
                <!--? Aquí empieza la tabla -->
                <ngx-datatable [rows]="kitchenSinkRows" [rowHeight]="50" class="bootstrap core-bootstrap"
                    [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                    [scrollbarH]="true">
                    <!-- Column -->
                    <ngx-datatable-column name="#" prop="id" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">#{{ id }}</p>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column -->
                    <ngx-datatable-column name="Nombre Producto" prop="name" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">{{ id | uppercase }}</p>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column -->
                    <ngx-datatable-column name="Precio" prop="price" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">{{ id | uppercase }}</p>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column -->
                    <ngx-datatable-column name="Imagen" prop="img" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <button class="btn btn-icon btn-sm" (click)="modalOpen(infoModal);">
                                <i class="feather icon-eye text-primary"></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column -->
                    <ngx-datatable-column name="Stock" prop="stock" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">{{ id | uppercase }}</p>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column -->
                    <ngx-datatable-column name="Categoria" prop="category" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">{{ id | uppercase }}</p>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column -->
                    <ngx-datatable-column name="estado" prop="status" [width]="15">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <p class="font-weight-bold text-dark">{{ id | uppercase }}</p>
                            <div class="custom-control custom-switch custom-control-inline" (click)="statusAlert()">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" />
                                <label class="custom-control-label" for="customSwitch1"></label>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column -->
                    <ngx-datatable-column name="Funciones" prop="cancel" [width]="20">
                        <ng-template let-id="value" ngx-datatable-cell-template>
                            <!-- Icono x rojo -->
                            <button class="btn btn-icon btn-sm">
                                <i class="feather icon-trash-2 text-danger" (click)="confirmAlert()"></i>
                            </button>
                            <button class="btn btn-icon btn-sm">
                                <i class="feather icon-edit text-primary" (click)="modalOpen(modalEdit)"></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </section>
    </div>
</div>

<!-- *************************************************** MODALES *************************************************** -->

<!-- ! Modal de agregar -->
<div>

    <!-- Login Form -->
    <div class="login-form">
        <!-- Modal -->
        <ng-template #modalForm let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Agregar</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]="productForm">
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="first-name-column">Nombre producto</label>
                            <input type="text" id="first-name-column" class="form-control" name="fname-column" />

                            <label for="first-name-column">Precio</label>
                            <input type="text" id="first-name-column" class="form-control" name="fname-column" />
                        </div>

                        <div class="">
                            <div class="col-md-10">
                                <label>Seleccionar categoria</label>
                                <div class="form-group">
                                    <ng-select [items]="selectBasic" bindLabel="name">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-md-5">
                                <label for="first-name-column">Ingrese stock</label>
                                <input type="text" id="first-name-column" class="form-control" name="fname-column" />
                            </div>
                            <div class="col-md-4">
                                <label for="first-name-column">Cargar imagen</label>
                                <button class="btn btn-primary">
                                    <i class="feather icon-share"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    Crear
                </button>
            </div>
        </ng-template>
        <!-- / Modal -->
    </div>
</div>

<!-- ! Modal de info -->
<div>
    <ng-template #infoModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
                Detalles
            </h5>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- ?Body de la modal -->
        <img src="../../../../assets/images/products/buñuelo.png" class="card-img-top" alt="Producto" />

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
                Ok
            </button>
        </div>
    </ng-template>
    <!-- / Modal -->
</div>

<!-- ! Modal de editar -->

<div class="login-form">
    <!-- Modal -->
    <ng-template #modalEdit let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Editar</h4>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <form [formGroup]="productForm">
                <div class="form-group">
                    <div class="col-md-10">
                        <label for="first-name-column">Nombre producto</label>
                        <input type="text" id="first-name-column" class="form-control" name="fname-column" />

                        <label for="first-name-column">Precio</label>
                        <input type="text" id="first-name-column" class="form-control" name="fname-column" />
                    </div>

                    <div class="">
                        <div class="col-md-10">
                            <label>Seleccionar categoria</label>
                            <div class="form-group">
                                <ng-select [items]="selectBasic" bindLabel="name">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-5">
                            <label for="first-name-column">Ingrese stock</label>
                            <input type="text" id="first-name-column" class="form-control" name="fname-column" />
                        </div>
                        <div class="col-md-4">
                            <label for="first-name-column">Cargar imagen</label>
                            <button class="btn btn-primary">
                                <i class="feather icon-share"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="col-12">
                <div class="row justify-content-end">
                    <button type="submit" rippleEffect class="btn btn-primary ">Editar</button>
                </div>

            </div>
        </div>
    </ng-template>
    <!-- / Modal -->
</div>