<div class="container blur-in">
  <div class="row justify-content-center">

    <div class="col-md-10 text-center">
      <h1>Welcome to Eden</h1>
    </div>


  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary">Ventas</h5>
              <div class="row justify-content-around">
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/cliente">
                      <div class="avatar bg-light-danger">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="user"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Clientes informativos</h5>
                    </a>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/ventas">
                      <div class="avatar bg-light-warning">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="shopping-cart"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Ventas Locales</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary">Usuarios</h5>
              <div class="row justify-content-around">
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/lista-usuarios">
                      <div class="avatar bg-light-primary">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="user"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Lista de Usuarios</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary">Pedidos</h5>
              <div class="row justify-content-around">
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/cotizacion">
                      <div class="avatar bg-light-danger">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="clipboard"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Cotizaciones</h5>
                    </a>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/pedidos">
                      <div class="avatar bg-light-warning">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="dollar-sign"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Pedidos</h5>
                    </a>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/pedidos-local">
                      <div class="avatar bg-light-warning">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="package"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Pedidos locales</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary">Dashboard</h5>
              <div class="row justify-content-around">
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/dashboard">
                      <div class="avatar bg-light-primary">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="user"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Informes</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary">Configuración</h5>
              <div class="row justify-content-around">
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/roles">
                      <div class="avatar bg-light-primary">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="users"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Roles</h5>
                    </a>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/permisos">
                      <div class="avatar bg-light-danger">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="list"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Permisos</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary">Productos</h5>
              <div class="row justify-content-around">
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/productos-admin">
                      <div class="avatar bg-light-info">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="coffee"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Lista de Productos</h5>
                    </a>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="text-center">
                    <a routerLink="/main/categorias">
                      <div class="avatar bg-light-danger">
                        <div class="avatar-content">
                          <i class="avatar-icon" data-feather="list"></i>
                        </div>
                      </div>
                      <h5 class="mt-1">Categorias</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
  
</div>