.img-principal {
  width: 300px;
  height: auto;
  margin-bottom: 50px;
  margin-right: 50px;
}

.container-header {
  background-color: rgb(65, 144, 209);
}

.custom-nav-item {
  color: #0e0e0e;
}

.custom-nav-item:hover {
  color: #1187ab;
  transition: 0.5s;
}

.vertical-hr {
  border: none;
  border-left: 2px solid #0e0e0e;
  height: 30px;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
}





