.img-principal {
  width: 500px;
  height: auto;
  margin-bottom: -50px;
}

.container-header {
  border-bottom: 1px solid #0e0e0e;
}

.custom-nav-item {
  color: #0e0e0e;
}

.custom-nav-item:hover {
  color: #1187ab;
  transition: 0.5s;
}

.vertical-hr {
  border: none;
  border-left: 2px solid #0e0e0e;
  height: 30px;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
}





