<div class="container-fluid container-header bg-dark">
  <header class="p-5">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-4 bg-primary">xd1</div>
      <div class="col-md-4 bg-danger">xd2</div>
      <div class="col-md-4 bg-warning">xd3</div>
    </div>
  </header>
</div>

<ul class="nav justify-content-end">
  <li class="nav-item nav-item-hover">
    <a class="nav-link" routerLink="main/productos">Productos</a>
  </li>
  <li class="nav-item nav-item-hover">
    <a class="nav-link" href="#">Contáctenos</a>
  </li>
  <li class="nav-item">
    <a
      class="btn btn-primary ml-2"
      href="#"
      [routerLink]="'/main/dashboard'"
      >Iniciar sesión</a
    >
  </li>
</ul>




<!--
<div
  class="row justify-content-between p-2 nav-bar-color align-items-center fixed-top"
>
  <div class="col-auto">
    <div class="row">
      <a href="#">
        <img
          src="../../../../../favicon.ico"
          alt="Logo"
          class="logo-navbar"
        />
      </a>
      <h1 class="text-primary mt-1"><a href="#">Eden.Soft</a></h1>
    </div>
  </div>
  <div class="col-auto">
    <ul class="nav justify-content-end">
      <li class="nav-item nav-item-hover">
        <a class="nav-link" routerLink="main/productos">Productos</a>
      </li>
      <li class="nav-item nav-item-hover">
        <a class="nav-link" href="#">Contáctenos</a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-primary ml-2"
          href="#"
          [routerLink]="'/main/dashboard'"
          >Iniciar sesión</a
        >
      </li>
    </ul>
  </div>
</div>


  src="../../../../../favicon.ico"
-->
