<div class="container-fluid container-header container-res align-items-center">
  <header class="row justify-content-between align-items-center">
    <div class="col-md-3">
      <img
        class="img-principal-logo"
        src="../../../../assets/images/bunuelin-removebg.png"
        alt="Logo"
      />
    </div>
    <div class="col-md-9">
      <ul class="nav justify-content-end align-items-center">
        <li class="nav-item">
          <a class="nav-link-cutom active-custom" routerLink=""
            ><b>Inicio</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link-cutom" [routerLink]="'/main/productos'"
            >Productos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link-cutom" [routerLink]="'/main/registro-usuarios'"
            >Registrarse</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-custom" [routerLink]="'/main/login'"
            >Iniciar sesión</a
          >
        </li>
      </ul>
    </div>
  </header>
</div>

<!--
  <div class="col-md-3">
      <img
        class="img-principal-logo"
        src="../../../../assets/images/bunuelin-removebg.png"
        alt="Logo"
      />
    </div>

    <ul class="nav justify-content-end align-items-center col-md-9">
      <li class="nav-item">
        <a class="nav-link-cutom active-custom" routerLink=""><b>Inicio</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link-cutom" [routerLink]="'/main/productos'">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link-cutom" [routerLink]="'/main/registro-usuarios'"
          >Registrarse</a
        >
      </li>
      <li class="nav-item">
        <a class="btn btn-custom" [routerLink]="'/main/login'"
          >Iniciar sesión</a
        >
      </li>
    </ul>
-->

<!-- For phones -->
<header class="row justify-content-center cell-res container-header">
  <div class="flex-center">
    <img
      class="img-principal-logo"
      src="../../../../assets/images/bunuelin-removebg.png"
      alt="Logo"
    />
  </div>

  <ul class="nav justify-content-center align-items-center col-auto">
    <li class="nav-item">
      <a class="nav-link-cutom active-custom" routerLink=""><b>Inicio</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link-cutom" [routerLink]="'/main/productos'">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link-cutom" [routerLink]="'/main/registro-usuarios'"
        >Registrarse</a
      >
    </li>
    <li class="nav-item">
      <a class="btn btn-custom" [routerLink]="'/main/login'">Iniciar sesión</a>
    </li>
  </ul>
</header>
