<app-landing-header></app-landing-header>

<div class="principal-container" style="background-color: #fff">
  <div class="header">
    <div class="inner-header flex">
      <!-- ? For desktop -->
      <div class="row justify-content-center container-flex p-3">
        <div class="col-md-10">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
              <div class="title-container">
                <div class="stack" style="--stacks: 3">
                  <span style="--index: 0"
                    ><b style="color: #fff">Buñuelería: El Eden</b></span
                  >
                  <span style="--index: 1"
                    ><b style="color: #fff">Buñuelería: El Eden</b></span
                  >
                  <span style="--index: 2"
                    ><b style="color: #fff">Buñuelería: El Eden</b></span
                  >
                </div>
              </div>
              <h2 style="color: rgb(175, 175, 175); margin-bottom: 50px">
                Donde hacemos buñuelos con amor
              </h2>
              <a class="btn btn-custom" [routerLink]="'/main/productos'"
                >Ver productos <i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>

            <div class="col-md-6">
              <img
                src="../../../../assets/images/landing/img-principal-page3.svg"
                alt="Logo"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- ? For cell -->
      <div class="row justify-content-center container-phone">
        <div class="title-container text-center">
          <div class="stack" style="--stacks: 3">
            <span style="--index: 0"
              ><b style="color: #fff; font-size: 30px; margin-left: 5px"
                >Buñuelería: El Eden</b
              ></span
            >
            <span style="--index: 1"
              ><b style="color: #fff; font-size: 30px; margin-left: 5px"
                >Buñuelería: El Eden</b
              ></span
            >
            <span style="--index: 2"
              ><b style="color: #fff; font-size: 30px; margin-left: 5px"
                >Buñuelería: El Eden</b
              ></span
            >
          </div>
        </div>

        <div class="col-md-6">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <a class="btn btn-custom col" [routerLink]="'/main/productos'"
                >Ver productos <i class="fa-solid fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Waves Container-->
    <div>
      <svg
        class="waves"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
        shape-rendering="auto"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
          />
        </defs>
        <g class="parallax">
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(255,255,255,0.7"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(255,255,255,0.5)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(255,255,255,0.3)"
          />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
  </div>
</div>

<!-- ? Misíon-visión -->
<div class="section p-5" style="background-color: #fff">
  <div class="row justify-content-center">
    <div class="col-md-2 text-center p-1 mr-1">
      <img
        src="../../../../assets/images/landing/bunuelo-icon.png"
        alt="icon"
        class="img-icon-landing"
      />
      <hr />
      <h3>Misión</h3>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
        sapiente fuga, qui beatae ipsum odio sequi totam expedita reprehenderit
        commodi alias quo eum quae veniam eos soluta eius! Inventore, quos!
      </p>
    </div>
    <div class="col-md-2 text-center p-1">
      <img
        src="../../../../assets/images/landing/empanada-icon.png"
        alt="icon"
        class="img-icon-landing"
      />
      <hr />
      <h3>Visión</h3>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
        quidem ullam non dolore tempora excepturi voluptas quo aut optio, quia
        tenetur minus soluta suscipit aspernatur explicabo minima eius cumque
        vel.
      </p>
    </div>
    <div class="col-md-2 text-center p-1 mr-1">
      <img
        src="../../../../assets/images/landing/arepa-icon.png"
        alt="icon"
        class="img-icon-landing"
      />
      <hr />
      <h3>¿Qué nos diferencia?</h3>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati hic
        delectus a libero natus dolor. Accusantium molestias, magnam quae
        laborum praesentium id.
      </p>
    </div>
  </div>
</div>

<!-- ? hacer componente para esto -->
<h1>Top 3 de nuestros productos</h1>
<h1>...</h1>

<!-- ? banner -->
<div class="row">
  <div class="col-md-12 img-banner">
    <div
      class="row justify-content-center align-items-center p-5"
      style="margin-top: 100px"
    >
      <div class="col-auto text-center">
        <h1 class="text-banner">Cotiza</h1>
        <p class="text-banner">
          Puedes hacer tu cotización para una fecha específica y se te tomará el
          pedido.
        </p>
        <a class="btn btn-custom" [routerLink]="'/main/login'"
          >Iniciar sesión <i class="fa-solid fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<!-- ? Contáctenos  -->

<div
  class="row justify-content-center p-5 text-center"
  style="background-color: #fff"
>
  <div class="col-md-8">
    <div class="row justify-content-between">
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Encuentranos !AQUI!</h5>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.7101369182897!2d-75.6173527017505!3d6.152104214576896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4683d933958bed%3A0x2e75a8a78086e48f!2sBu%C3%B1ueleria%20el%20EDEN!5e0!3m2!1ses!2sco!4v1656474395025!5m2!1ses!2sco"
              width="100%"
              height="500px"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Redes Sociales</h5>
            <img
              src="../../../../assets/images/avatars/facebook.png"
              class="m-2 social-media-img"
              alt=""
            /><br />
            <img
              src="../../../../assets/images/avatars/instagram.png"
              class="m-2 social-media-img"
              alt=""
            /><br />
            <img
              src="../../../../assets/images/avatars/whatsapp.png"
              class="m-2 social-media-img"
              alt=""
            /><br />
            <img
              src="../../../../assets/images/avatars/correo.png"
              class="m-2 social-media-img"
              alt=""
            /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-langin-footer></app-langin-footer>
