<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="invoice-list-wrapper">
      <!-- ? Grafico -->
      <div class="row">
        <div class="col-md-6">
          <app-produccion-table></app-produccion-table>
        </div>
        <div class="col-md-6">
          <app-top-table></app-top-table>
        </div>
      </div>
      <!-- ? /Grafico -->
      <app-ventas-table></app-ventas-table>
    </section>
  </div>
</div>


<div class="row">
  <div class="col-xl-2 col-md-4 col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <div class="avatar bg-light-info p-50 m-0 mb-1">
          <div class="avatar-content">
            <i data-feather="dollar-sign" class="font-medium-5"></i>
          </div>
        </div>
        <h2 class="font-weight-bolder">${{ cardData.views }}</h2>
        <p class="mb-0 line-ellipsis">Ganancias</p>
      </div>
    </div>
  </div>
</div>