<div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar un gimnasio</h4>
        <form class="form" [formGroup]="gymForm">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Nombre</label>
  
                <input
                  [(ngModel)]="gym.name"
                  name="name"
                  required
                  formControlName="name"
                  type="text"
                  class="form-control"
                  placeholder="Nombre del gym"
                />
  
                <span
                  *ngIf="
                    gymForm.controls.name.errors?.required &&
                    gymForm.controls.name.dirty
                  "
                  class="error"
                >
                  El nombre es requerido
                </span>
              </div>
            </div>
  
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Manager</label>
  
                <input
                  [(ngModel)]="gym.manager_name"
                  required
                  name="manager_name"
                  formControlName="manager_name"
                  type="text"
                  class="form-control"
                  placeholder="Nombre del Manager"
                />
                <span
                  *ngIf="
                    gymForm.controls.manager_name.errors?.required &&
                    gymForm.controls.manager_name.dirty
                  "
                  class="error"
                >
                  El nombre del manager es requerido
                </span>
              </div>
            </div>
  
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="first-name-column">Teléfono</label>
  
                <input
                  [(ngModel)]="gym.telephone"
                  required
                  name="telephone"
                  formControlName="telephone"
                  type="number"
                  class="form-control"
                  placeholder="Teléfono del gym"
                />
                <span
                  *ngIf="
                    gymForm.controls.telephone.errors?.required &&
                    gymForm.controls.telephone.dirty
                  "
                  class="error"
                >
                  El teléfono es requerido
                </span>
              </div>
            </div>
  
            <div class="col-12">
              <button
                (click)="edit ? confirmUpdateAlert() : saveGym()"
                class="btn btn-primary"
                [disabled]="!gymForm.valid"
              >
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Add sedes -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row invoice-list-wrapper" *ngIf="edit">
          <div class="col-12">
            <div class="card">
              <app-table 
              [customeService]= customeService
              [customeAddTitle]="'Agregar sede'"
              [customeCreate] = createSede
              [customeUpdate] = updateSede
              [customeDelete] = confirmDeleteSede
              [gym_id] = gym_id
              [tableType]="'sedes'"
              ></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


